/* styles.css */

/* Resets */
* {
  box-sizing: border-box;
}
.productimage img {
    border: 1px;
    object-fit: contain;
    display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
html,
body {
  padding: 0;
  margin: 0;
}

/* Main styles */
a {
  text-decoration: none;
  color: black;
}

header {
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #F2F2F2;
  color: #005934;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 3px 6px -6px black;
}
.sub-header{
  margin-top: -30px;
  font-family: 'Montserrat', sans-serif;
  background-color: #F2F2F2;
  color: #005934;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

main {
  font-family: 'Montserrat', sans-serif;
  color: #005934;
  padding: 1rem;
}
.fim-da-pagina{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 200px;
  
}


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}



.footer{
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #F2F2F2;
  color: #005934;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  box-shadow: 0 px 6px -6px black;
}


.menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif; 
    fontweight : 400;
    padding: 0 0 0 20px;
}
.collapsible-menu {
    background-color: #f2f2f2;
    padding: 0px 0px;
    border-bottom: 3px solid #f2f22;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    width: 100%;
    color: #005934; 
}
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}
.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}
.collapsible-menu a:hover {
    display:block;
    padding: 10px;
    text-decoration: none;
    background: #ccc;
}
.collapsible-menu label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    display: block;
    cursor: pointer;
    background: url(menu.png) no-repeat left center;
    padding: 10px 0 10px 20px;
}
input#menu {
    display: none;
}
input:checked +label {
    background-image: url(close.png);
}
input:checked ~ .menu-content {
    max-height: 100%;
}
