/*
body {  
	  margin: 0;
    text-align: left;
		background-color: #ffffff !important;

        
		}
		
		.ratebtn {
		    /*TO-DO BORDER NOT WORKING*/
		    border-bottom: 20px;
		    border-bottom-color:red;
		    overflow: hidden;
		    background-color: #ffffff;
		  
		}

    
    
btn {
  background-color: #ffffff;
  border: none;
  color: darkslategray;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
/* Lighter background on mouse-over */
ratebtn:onclick {
  background-color: #b0b0b0;
}
container {
  	display: inline-block;
  	cursor: pointer;
	width: 400px;
	height: 300px;
	background-color: #ffffff;
	position: center;
	left: 0; 
	right: 0; 
	top: 0; 
	bottom: 0; 
	margin: auto;
	max-width: 100%; 
	max-height: 100%; 
	overflow: auto; 
}    
    
    
    
    
    
    
    
    

		.top {
			padding: 0.7em;
            /*-- when you want to make these texts into a grid use "display: grid;" bellow --*/
			grid-gap: 2em;
			grid-template-columns: repeat(
					auto-fit, minmax(250px, 1fr));
			}
            .quote2 {
            	padding: 2em;
                background-color: #d4d7d9;
                color: darkslategray;
                border-radius: .3em;
                /*-margin-left: 2vw;
                margin-right: 2vw;*/
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
						}
            .quote1 {
            	padding: .3em;
                border-radius: 5em;
                margin-left: 5vw;
                margin-right: 5vw;
						}
			.quote {
				padding: 2em;
				border-radius: .3em;
				box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
                        }
				p {
					margin-top: 2vw;
          font-size: 100%;
          line-height: 120%;
          font-family: 'Karla', arial, sans-serif;
				}
a {
          color: darkslategray;
          text-decoration: bold;
          font-family: 'Karla', arial, sans-serif;
          
                  
                }
                
div.navibar a-toggle {
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
          color: darkslategray;
          font-family: 'Karla', arial, sans-serif;
          font-size:100%;  
          padding: 14px 16px;
          cursor: pointer;
}



div.navbar a {
    float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
          color: darkslategray;
          font-family: 'Karla', arial, sans-serif;
          font-size:100%;  
          padding: 14px 16px;
}
div.navbar a:hover {
         text-decoration: underline;
         background-color: #d4d7d9;
}

.navbar {
  /*TO-DO BORDER NOT WORKING*/
  border-bottom: 20px;
  border-bottom-color:red;
  overflow: hidden;
  background-color: #ffffff;
}

/*.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Karla', sans-serif;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  font-family: 'Karla', sans-serif;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  text-decoration: underline;
}
.dropdown:hover .dropdown-content {
  display: block;
}*/


  h1 {	
            color: darkslategray;
        margin-bottom: 20px;
            text-align: center;
        font-size: 200%;
        font-family: 'Lora', serif;
            font-weight: normal;
      }
  h2 {	
        color: darkslategray !important;
        margin-bottom: 20px;
        margin-top: -20px;
        text-align: center;
        font-size:90%;
        font-family: 'Lora', serif;
        font-weight:normal;
      }

  undh1 {
        color: darkslategray !important;
        margin-bottom: 20px;
        text-align: center;
        font-size:20px;
        font-family: 'Lora', serif !important;
        font-weight:normal;
}
        
::-moz-selection { /* Code for Firefox */
  			color: white;
  			background: darkgray;
		}
::selection {
  			color: white;
  			background: darkgray
		}

btn {
  background-color: #ffffff;
  border: none;
  color: darkslategray;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
/* Lighter background on mouse-over */
btn:hover {
  background-color: #b0b0b0;
}
container {
  	display: inline-block;
  	cursor: pointer;
	width: 400px;
	height: 300px;
	background-color: #ffffff;
	position: center;
	left: 0; 
	right: 0; 
	top: 0; 
	bottom: 0; 
	margin: auto;
	max-width: 100%; 
	max-height: 100%; 
	overflow: auto; 
}

#bannerimage {
  width: 100%;
  background-image: url(https://media.baamboozle.com/uploads/images/62026/1592285356_75201);
  height: 200px;
  background-color: none;
  background-position: up;
}
    
    
.light-mode {
  background-color: white;
  color: #ffffff;
}    
    
    
    
	
	/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media (max-width: 1440px) {
  p {
					margin-top: 2vw;
          font-size: 100%;
          font-family: 'Karla', arial, sans-serif;
				}
  div.title h1 {	
        	color: darkslategray;
			margin-bottom: 20px;
        	text-align: center;
			font-size: 220%;
			font-family: 'Lora', serif;
        	font-weight: normal;
		}
div.title h2 {	
      color: darkslategray !important;
			margin-bottom: 20px;
      margin-top: -20px;
      text-align: center;
			font-size:120%;
			font-family: 'Lora', serif;
      font-weight:normal;
		}
		
		
		/*!--.top {
			padding: 0.1em; !important*/
    /*-- when you want to make these texts into a grid use "display: grid;" bellow --*/
			/*grid-gap: 2em;
			grid-template-columns: repeat(
					auto-fit, minmax(250px, 1fr));
			}*/
			
		.quote2 {
		  padding: 2em;
		  background-color: #d4d7d9;
		  color: darkslategray;
		  border-radius: .3em;
		  margin-left: 5em;
		  margin-right: 5em;
		  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
		}

undh1 {
      color: darkslategray !important;
			margin-bottom: 20px;
      text-align: center;
			font-size:20px;
			font-family: 'Lora', serif !important;
      font-weight:normal;
}
	div.navbar a {
    float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
          color: darkslategray;
          font-family: 'Karla', arial, sans-serif;
          font-size:100%;  
          padding: 14px 16px;
}
}
  

@media all and (max-width: 480px) { 
  
  p {
					margin-top: 2vw;
          font-size: 100%;
          font-family: 'Karla', arial, sans-serif;
				}
				
				div.title h1 {	
        	color: darkslategray;
			margin-bottom: 20px;
			padding-bottom: 20px;
        	text-align: center;
			font-size: 200%;
			font-family: 'Lora', serif;
        	font-weight: normal;
		}
				
				
  h1 {	
        	color: darkslategray;
			margin-bottom: 10px;
        	text-align: center;
			font-size: 170%;
			font-family: 'Lora', serif;
        	font-weight: normal;
		}
h2 {	
      color: darkslategray !important;
			margin-bottom: 40px;
      margin-top: -50px;
      text-align: center;
			font-size:110%;
			font-family: 'Lora', serif;
      font-weight:normal;
		}
		
		
		/*!--.top {
			padding: 0.1em; !important*/
    /*-- when you want to make these texts into a grid use "display: grid;" bellow --*/
			/*grid-gap: 2em;
			grid-template-columns: repeat(
					auto-fit, minmax(250px, 1fr));
			}*/
			
		.quote2 {
		  padding: 2em;
		  background-color: #d4d7d9;
		  color: darkslategray;
		  border-radius: .3em;
		  margin-left: 5px;
		  margin-right: 5px;
		  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
		}

undh1 {
      color: darkslategray !important;
			margin-bottom: 20px;
      text-align: center;
			font-size:15px;
			font-family: 'Lora', serif !important;
      font-weight:normal;
}
div.readm {
  overflow: hidden;
}
div.readm a {
  float: right !important;
  
}
	div.navbar a {
    float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
          color: darkslategray;
          font-family: 'Karla', arial, sans-serif;
          font-size:90%;  
          padding: 14px 16px;
}
}


@media all and (min-width: 768px) and (max-width: 1024px) { 
}

@media all and (min-width: 480px) and (max-width: 768px) { 
  p {
					margin-top: 2vw;
          font-size: 100%;
          font-family: 'Karla', arial, sans-serif;
				}
  h1 {	
        	color: darkslategray;
			margin-bottom: 20px;
        	text-align: center;
			font-size: 170%;
			font-family: 'Lora', serif;
        	font-weight: normal;
		}
h2 {	
      color: darkslategray !important;
			margin-bottom: 20px;
      margin-top: -20px;
      text-align: center;
			font-size:50%;
			font-family: 'Lora', serif;
      font-weight:normal;
		}
		
		
		/*!--.top {
			padding: 0.1em; !important*/
    /*-- when you want to make these texts into a grid use "display: grid;" bellow --*/
			/*grid-gap: 2em;
			grid-template-columns: repeat(
					auto-fit, minmax(250px, 1fr));
			}*/
			
		.quote2 {
		  padding: 2em;
		  background-color: #d4d7d9;
		  color: darkslategray;
		  border-radius: .3em;
		  margin-left: 5px;
		  margin-right: 5px;
		  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
		}

undh1 {
      color: darkslategray !important;
			margin-bottom: 20px;
      text-align: center;
			font-size:15px;
			font-family: 'Lora', serif !important;
      font-weight:normal;
}
	div.navbar a {
    float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
          color: darkslategray;
          font-family: 'Karla', arial, sans-serif;
          font-size:80%;  
          padding: 14px 16px;
}
}
  

@media all and (max-width: 480px) { 
  
  p {
					margin-top: 2vw;
          font-size: 100%;
          font-family: 'Karla', arial, sans-serif;
				}
				
				div.title h1 {	
        	color: darkslategray;
			margin-bottom: 20px;
			padding-bottom: 20px;
        	text-align: center;
			font-size: 200%;
			font-family: 'Lora', serif;
        	font-weight: normal;
		}
				
				
  h1 {	
        	color: darkslategray;
			margin-bottom: 10px;
        	text-align: center;
			font-size: 170%;
			font-family: 'Lora', serif;
        	font-weight: normal;
		}
h2 {	
      color: darkslategray !important;
			margin-bottom: 40px;
      margin-top: -50px;
      text-align: center;
			font-size:110%;
			font-family: 'Lora', serif;
      font-weight:normal;
		}
		
		
		/*!--.top {
			padding: 0.1em; !important*/
    /*-- when you want to make these texts into a grid use "display: grid;" bellow --*/
			/*grid-gap: 2em;
			grid-template-columns: repeat(
					auto-fit, minmax(250px, 1fr));
			}*/
			
		.quote2 {
		  padding: 2em;
		  background-color: #d4d7d9;
		  color: darkslategray;
		  border-radius: .3em;
		  margin-left: 5px;
		  margin-right: 5px;
		  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
		}

undh1 {
      color: darkslategray !important;
			margin-bottom: 20px;
      text-align: center;
			font-size:15px;
			font-family: 'Lora', serif !important;
      font-weight:normal;
}
div.readm {
  overflow: hidden;
}
div.readm a {
  float: right !important;
  
}
	div.navbar a {
    float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
          color: darkslategray;
          font-family: 'Karla', arial, sans-serif;
          font-size:90%;  
          padding: 14px 16px;
}
}

/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }
*/
