.links{
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.7em;
  margin-bottom: -0px;
}

p {
  font-size: 2em;
  margin-bottom: 3px;
  margin-top: 0px;
  text-align: left;
  colour: white;
  font-family: 'Cutive Mono', monospace;
}
a {
  font-size: 1.2em;
  text-align: left;
  font-family: 'Cutive Mono', monospace;
  text-decoration: none;
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
  background-image: linear-gradient(red, red);
background-size: 0% 0.01em;
background-position-y: 100%;
background-position-x: 0%;
background-repeat: no-repeat;
transition: background-size 0.2s ease-in-out;

}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  background-size: 100% 0.07em;

}

a:active {
  color: darkred;
  background-color: transparent;
  text-decoration: none;
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  width: 600px;
  height: 600px;
  padding-bottom: 5px;
}

imgcontainer {

  width: 610px;
  heigth: 600px;
}
.leftline {
  width:40%;
  border-style:solid;
  border-color:darkred;
  border-left:5px;
  white-space: nowrap;
  
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: darkred;
}

::selection {
  color: white;
  background: darkred;
}





